<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.getcont"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/aa" android:label="@string/app_name">
        <activity android:name=".GetCont"
                  android:label="@string/app_name"
                   
                   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".SMSReceiver"> 
            <intent-filter> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>
        <activity
            android:name=".GetNumber"
            android:label="@string/title_activity_get_number" 
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.android.GETNUMBER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SavePword"
            android:label="@string/title_activity_save_pword" 
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.android.SAVEPWORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="8" />
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest> 